ast-comments==1.0.1
black==22.6.0
coverage[toml]==7.3.2
doc8==1.1.1
flake8-isort==6.0.0
flake8-pyproject==1.2.3
flake8==6.0.0
ghapi==0.1.19
mypy==1.1.1
pydantic==1.10.7
pydocstyle==6.3.0
pydoctest==0.1.22
pylint==2.15.10
pyspelling==2.7.3
pytest==6.2.5
regex==2023.3.23
resplendent==0.3.5
sphinx-rtd-theme==2.0.0rc3
sphinx==7.2.5
sphinx_design==0.5.0
tqdm==4.64.1
typed-argument-parser==1.8.1
types-tqdm==4.66.0.3
